# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# Cache (VERY IMPORTANT)
.cache/

# Output data
out/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db